body
  background-color: black

#result-div
  border: 5px solid #FFFFFF
  border-radius: 10px
  height: 150px
  width: 98vw
  display: inline-block
  & i, span
    font-size: 50px

#console
  margin-top: 120px
